@using BOL;
@{
    ViewData["Title"] = "Products Page";
}

<div class="text-center">
    <h3 >Products</h3>
<table class="table table-hover">
  <thead>
    <tr>     
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Desc</th>
      <th scope="col">UnitPrice</th>
      <th scope="col">Qty</th>
      @* <th scope="col">Category</th> *@
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>  
        @{
            List<Product> products=ViewData["products"] as List<Product>;
            foreach(var item in products)
            {
                <tr >
                <td>@item.ProductId</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.UnitPrice</td>
                <td>@item.StockAvailable</td>
                @* <td>@item.Category</td> *@
                <td><a href="/products/details/@item.ProductId">show details</a></td>
                <td><a href="/products/delete/@item.ProductId">remove</a></td>
                </tr>
            }   
        }
  </tbody>
</table>
        <br/>
        <a href="/products/insertform">Add new Product</a>
</div>
